<div id="intro" style="text-align: center; margin-bottom: 50px">
	<h2>
	<p>Would you rather have $100,000 today or $500,000 a year from now?</p></h2>
	<p>Find out about yourself and compare yourself to others by taking a short survey.</p>
	</h3>
</div>

<div>
	<form id="init-form">
		<% if(errors && errors.non_field_errors) { %>
			<div class="alert alert-danger">
				<% _.each(errors.non_field_errors, function(obj) { %>
					<%= obj %>
				<% }); %>
			</div>
		<% } %>
		<fieldset>
			<legend>What is your expected annual return on money?</legend>
			<br>
			<% if(errors && errors.expected_return) { %>
				<div class="alert alert-danger">
					<%= errors.expected_return %>
				</div>
			<% } %>
			<input type="text" name="expected_return" placeholder="ex: 6.8"/>
			<p class="help-block">Annual return describes the growth of your existing money from year to year, e.g. a savings account might give 1% interest, making $100 in the account worth $101 after a year.<br><i>If you're not sure, the US stock market for the past twenty years has returned 9.6%</i></p>
		</fieldset>
		<fieldset>
			<legend>How many more years do you expect to be alive?</legend>
			<br>
			<% if(errors && errors.expected_life) { %>
				<div class="alert alert-danger">
					<%= errors.expected_life %>
				</div>
			<% } %>

			<input type="text" name="expected_life" placeholder="ex: 60"/>
			<p class="help-block">If you're 18 today, and plan on dying at age 25, put 7 in this box.</p>
		</fieldset>
		<fieldset>
			<legend>What's your net worth today?
			</legend>
			<br>
			<% if(errors && errors.net_worth) { %>
				<div class="alert alert-danger">
					<%= errors.net_worth %>
				</div>
			<% } %>

			<input type="text" name="net_worth" placeholder="ex: 1000"/>
			<p class="help-block">If you have $1,000 and $200 in debt, your net worth is $800.</p>
		</fieldset>
		<div>
			<a href="javascript:void(0)"
				class="btn btn-primary"
				id="init-quiz">
				Begin Quiz
			</a>
		</div>
	</form>

</div>