<div class="row">
	<div class="col col-lg-12">
		<h1 style="text-align:center;">Would you rather take</h1>
	</div>
</div>


<div class="row" style="margin-top:30px;">
	<div class="col col-lg-5" style="text-align:center;">

		<a href="javascript:void(0)"
			class="btn btn-primary btn-large answer-now  btn-block"
			>
			$<%= numberWithCommas(Math.round(question.start_amount)) %> now
		</a>
	</div>
	<div class="col col-lg-2">
		<h2 style="text-align:center;">or</h2>
	</div>
	<div class="col col-lg-5" style="text-align:center;">
		<a href="javascript:void(0)"
			class="btn btn-primary btn-large answer-later btn-block"
			data-answer="later">
			$<%= numberWithCommas(Math.round(question.end_amount)) %> in <%= question.years %> year<%= question.years == 1? '' : 's' %>
		</a>
	</div>
</div>

<div class="row">
	<div style="margin-top:200px;" class="col col-lg-12">
		<p style="text-align:center;width:100%">
			<small class="text-muted">
			Hint: You can use the "n" key to answer Now and the "l" key to answer Later
			</small>
		</p>
	</div>
</div>