<div class="row">
	<div class="col col-lg-12">
		<h1><%= question.text %></h1>
	</div>
</div>


<div class="row">
	<div class="col col-lg-6">

		<a href="javascript:void(0)"
			class="btn btn-primary btn-large answer-now"
			>
			Now
		</a>
	</div>
	<div class="col col-lg-6">
		<a href="javascript:void(0)"
			class="btn btn-primary btn-large answer-later"
			data-answer="later">
			Later
		</a>
	</div>
</div>

<div class="row">
	<div style="margin-top:200px;" class="col col-lg-12">
		<p style="text-align:center;width:100%">
			<small>
			Hint: You can use the "n" key to answer Now and the "l" key to answer Later
			</small>
		</p>
	</div>
</div>